.home-container {

  .el-header {
    padding: 0 20px 0 0;
    background-color: #fff !important;
    border: 1px solid #efefef;
    min-width: 600px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
  }

  .nav-left,
  .nav-right {
    display: flex;
  }

  .nav-logo {
    img {
      width: 100px;
      height: 56px;
    }
  }

  .nav-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 0 10px;
    border: none;
    border-color: red;
  }

  .nav-item-text {
    padding: 0 15px;
  }

  // 
  .el-main {
    width: 960px;
    height: 1000px;
    margin: 0 auto;
    background-color: #efefef;
  }

  .i-col-left {
    padding-right: 3%;
  }

  // 走马灯
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }

  // 列表
  .time {
    font-size: 13px;
    color: #999;
  }

  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .i-list {
    margin-top: 30px;
  }

  .i-list-item {
    display: flex;
  }

  .i-list-image {
    max-width: 150px;
    display: block;
  }

  .i-list-title {
    margin: -7px 0 4px;
    display: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
  }

  .i-list-content {
    margin: 0 0 8px;
    font-size: 13px;
    line-height: 24px;
    color: #999;
  }

  .i-list-footer {
    margin-top: 5px;

    span {
      padding: 0 10px;
    }

    .i-list-author {
      font-size: 13px;
      color: #999;
      padding: 0 10px 0 0;
    }
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }

  .clearfix:after {
    clear: both
  }

  // 右侧 borad
  .img-board {
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      display: block;
      padding-top: 5px;
    }

    .i-img-board1 {
      margin-top: -8px;
    }
  }



}